In [7]:
import pandas as pd

In [8]:
# Lendo os datasets
df_vendas = pd.read_csv('datasets/vendas.csv',sep=';' , decimal=',', index_col=0)

# Lendo os datasets produtos
df_produtos = pd.read_csv('datasets/produtos.csv', sep=';', decimal=',',index_col=0)

In [9]:
df_produto = df_produtos.rename(columns={'nome':'produto'})

In [10]:
#Merge
df_vendas_uniao = pd.merge(left= df_vendas, 
                           right=df_produto,
                            on= 'produto',
                            how='left')
df_vendas_uniao

,id_venda,filial,vendedor,produto,cliente_nome,cliente_genero,forma_pagamento,id,preco
0,0,Canoas,Luis Fernando,Tenis Nike,Sabrina Rieke,feminino,credito,0,300
1,1,Florianópolis,Mario Sérgio,Tenis Adidas,Patsy Lovell,feminino,credito,1,450
2,2,Canoas,Carlos Henrique,Tenis Adidas,John Crandall,masculino,credito,1,450
3,3,Caxias do Sul,Rodrigo Vanzeloti,Tenis Adidas,Mildred Mcleod,feminino,credito,1,450
4,4,São Paulo,Cassia Moraes,Tenis NB,Robert Mccormick,masculino,credito,2,500
...,...,...,...,...,...,...,...,...,...
1995,1995,Porto Alegre,Luiza Cherobini,Tenis Nike,Glenn Johnson,masculino,credito,0,300
1996,1996,Lajeado,Juliano Faccioni,Tenis Adidas,Robert Roop,masculino,boleto,1,450
1997,1997,Canoas,Luis Fernando,Tenis Adidas,Mary Berg,feminino,credito,1,450
1998,1998,Lajeado,Adriano Soares,Tenis NB,Dianna Alcorn,feminino,credito,2,500
1999,1999,São Paulo,Cassia Moraes,Tenis Fila,Isabelle Mercado,feminino,credito,3,250

In [11]:
df_vendas_uniao.describe()

          id_venda           id        preco
count  2000.000000  2000.000000  2000.000000
mean    999.500000     1.513000   374.600000
std     577.494589     1.120473   103.465901
min       0.000000     0.000000   250.000000
25%     499.750000     1.000000   250.000000
50%     999.500000     2.000000   300.000000
75%    1499.250000     3.000000   500.000000
max    1999.000000     3.000000   500.000000

In [12]:
df_vendas_uniao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_venda         2000 non-null   int64
 1   filial           2000 non-null   object
 2   vendedor         2000 non-null   object
 3   produto          2000 non-null   object
 4   cliente_nome     2000 non-null   object
 5   cliente_genero   2000 non-null   object
 6   forma_pagamento  2000 non-null   object
 7   id               2000 non-null   int64
 8   preco            2000 non-null   int64
dtypes: int64(3), object(6)
memory usage: 140.8+ KB

In [14]:
df_vendas_uniao['filial'] .value_counts()

filial
Florianópolis    349
São Paulo        343
Canoas           337
Porto Alegre     335
Lajeado          325
Caxias do Sul    311
Name: count, dtype: int64

In [16]:
#visão percentual
df_vendas_uniao['filial'] .value_counts(normalize=True)

filial
Florianópolis    0.1745
São Paulo        0.1715
Canoas           0.1685
Porto Alegre     0.1675
Lajeado          0.1625
Caxias do Sul    0.1555
Name: proportion, dtype: float64

In [19]:
df_vendas_uniao['filial'].unique()

array(['Canoas', 'Florianópolis', 'Caxias do Sul', 'São Paulo', 'Lajeado',
       'Porto Alegre'], dtype=object)

In [20]:
df_vendas_uniao['preco'].sum()

np.int64(749200)

In [21]:
df_vendas_uniao['preco'].mean()

np.float64(374.6)

In [22]:
df_vendas_uniao['preco'].std()

np.float64(103.46590064508283)