In [8]:
import pandas as pd

In [13]:
data = [1,2,3,4,5,6,7,8,9,10]

In [14]:
df = pd.DataFrame(data)

In [17]:
data = [[1,2],
[3,4],
[5,6],
[7,8],
[9,10]]
df = pd.DataFrame(data)
df

   0   1
0  1   2
1  3   4
2  5   6
3  7   8
4  9  10

In [20]:
data = {'nome':['Marcell','Fabiana','Marcelle','Emilly','Anthony'],
       'Sobrenome':['Oliveira','Araujo','Oliveira','Oliveira','Oliveira']}
df = pd.DataFrame(data, index=['pai','Mae','filho1','filho2','filho3'])
df

            nome Sobrenome
pai      Marcell  Oliveira
Mae      Fabiana    Araujo
filho1  Marcelle  Oliveira
filho2    Emilly  Oliveira
filho3   Anthony  Oliveira

In [29]:
data = [{'nome':'Pandora','Sobrenome':'dog'},
{'nome':'Rex','Sobrenome':'gato'} ,
{'nome':'Cenourg','Sobrenome':'Galinha'}]

df = pd.DataFrame(data)
list(df.columns)

['nome', 'Sobrenome']

In [ ]:
df.shape

(3, 2)